/*hello?
@import "reset";
*/
@import "../../bower_components/susy/sass/susy";

$font-stack:	Helvetica, sans-serif;
$primary-color: #c74e00;
$bgcolor:		#eee;
$pad:			20px;
$susy: (
	columns: 12,
	container: 1120px,
	global-box-sizing: border-box
);

body {
	font: 100% $font-stack;
	color: $primary-color;
}

h1 {
	font-family: $font-stack;
	color: blue;
}
#wrap {
	@include container;
}
#content {
	@include span(8);
	background-color: $bgcolor;
	padding: $pad;
}
#sidebar {
	@include span(4 last);
	background-color: $bgcolor;
	padding: $pad;
}